<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../static/css/forgotPass.css" />
    <!--{% block extCSS %}
    {% endblock %}-->
    <link
      href="https://fonts.googleapis.com/css2?family=Bangers&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <h1>The <span id="highlight">Quest</span></h1>
      <nav>
        <ul>
          <li class="current"><a href="index.html">Home</a></li>
          <li><a href="quests.html">Quests</a></li>
          <li><a href="about.html">About</a></li>
        </ul>
      </nav>
    </header>
    <section id="forgotPass">
    <h1>Account recovery</h1>
    <form>
        <label>
          Please enter your email linked to your account :
          <input type="email" name="email" placeholder="johnsmith@company.com" required />
        </label>
      </div>
      <div>
        <p>An one time password(otp) and a reset password link will be sent your linked email.</p>
    </div>
      <div>
        <input type="submit" value="SEND OTP" />
        <a href="signup.html">I don't have an account</a>
      </div>
    </form>
  </section>
</body>
</html>
