<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Quest | Forgot password</title>
  </head>
  <body>
    <h1>Account recovery</h1>
    <form>
        <label>
          Please enter you email linked to your account :
          <input type="email" name="email" placeholder="johnsmith@company.com" required />
        </label>
      </div>
      <div>
        <p>An one time password(otp) and a reset password link will be sent your email.</p>
    </div>
      <div>
        <input type="submit" value="SEND OTP" />
        <a href="signup.html">I don't have an account</a>
      </div>
    </form>
  </body>
</html>
