<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bangers&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <h1>The <span id="highlight">Quest</span></h1>
      <nav>
        <ul>
          <li class="current"><a href="index.html">Home</a></li>
          <li><a href="quests.html">Quests</a></li>
          <li><a href="about.html">About</a></li>
        </ul>
      </nav>
    </header>
    <section>
      {% block section %}{% endblock %}
    </section>
  </body>
</html>
