<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Quest | Home</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/826e2f09d5.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <h1>The <span id="highlight">Quest</span></h1>
      <nav>
        <ul>
          <li class="current"><a href="index.html">Home</a></li>
          <li><a href="quests.html">Quests</a></li>
          <li><a href="about.html">About</a></li>
          <li><i class="fab fa-searchengin"><input type="search" id="searchbar"></i></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
