<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Quest | Login</title>
  </head>
  <body>
    <h1>Login</h1>
    <form>
        <label>
          Email :
          <input type="email" name="email" placeholder="johnsmith@company.com" required />
        </label>
        <label>
          Password :
          <input
            type="password"
            name="password"
            required
          />
        </label>
      </div>
      <div>
        <input type="submit" value="LOGIN" />
        <a href="forgotPass.html">Forgot password?</a>
        <a href="signup.html">I don't have an account</a>
      </div>
    </form>
  </body>
</html>
