<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../static/css/login.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bangers&display=swap"
      rel="stylesheet"
    />
  <!-- <script src="https://kit.fontawesome.com/9952b1383e.js" crossorigin="anonymous"></script>-->
  </head>
  <body>
    <header>
      <h1>The <span id="highlight">Quest</span></h1>
      <nav>
        <ul>
          <li class="current"><a href="index.html">Home</a></li>
          <li><a href="quests.html">Quests</a></li>
          <li><a href="about.html">About</a></li>
        </ul>
      </nav>
    </header>
    <section id="login">
    <h1>Login</h1>
    
    <form>
        <label>
          Email :
          <input type="email" name="email" placeholder="johnsmith@company.com" required />
        </label>
        <label>
          Password :
          <input
            type="password"
            name="password"
            required
          />
        </label>
      </div>
      <div>
        <input type="submit" value="LOGIN"  />
        <a href="forgotPass.html">Forgot password?</a>
        <a href="signup.html">I don't have an account</a>
      </div>
    </form>
  </section>
</body>
</html>
