<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../static/css/signup.css" />
    <!--{% block extCSS %}
    {% endblock %}-->
    <link
      href="https://fonts.googleapis.com/css2?family=Bangers&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <h1>The <span id="highlight">Quest</span></h1>
      <nav>
        <ul>
          <li class="current"><a href="index.html">Home</a></li>
          <li><a href="quests.html">Quests</a></li>
          <li><a href="about.html">About</a></li>
        </ul>
      </nav>
    </header>
    <section>
    <h1>Register</h1>
    <form>
      <div>
        <label>
          First Name :
          <input type="text" name="firstName" placeholder="John" required />
        </label>
        <label>
          Last Name :
          <input type="text" name="lastName" placeholder="Smith" required />
        </label>
      </div>
      <div>
        <label>
          Gender :
          <label>
            <input type="radio" name="gender" value="male" />
            Male
          </label>
          <label>
            <input type="radio" name="gender" value="female" />
            Female
          </label>
          <label>
            <input type="radio" name="gender" value="other" />
            Other
          </label>
          <label>
            <input type="radio" name="gender" value="notSay" />
            Prefer not to say
          </label>
        </label>
      </div>
      <div>
        <label>
          Date of Birth :
          <input type="date" name="DOB" required />
        </label>
      </div>
      <div>
        <label>
          Email :
          <input
            type="email"
            name="email"
            placeholder="johnsmith@company.com"
            required
          />
        </label>
        <label>
          Password :
          <input
            type="password"
            name="password"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
            title="Must contain at least one  number and one uppercase and lowercase letter,
               and at least 6 or more characters"
            required
          />
        </label>
      </div>
      <div>
        <input type="submit" value="REGISTER" />
        <a href="login.html">I already have an account</a>
      </div>
    </form>
  </section>
</body>
</html>

