{% extends "layout.html" %}

{% block title %}
  The Quest | Account Recovery
{% endblock %}
    
{% block extCSS %}
<link rel="stylesheet" href="../static/css/forgotPass.css" />
{% endblock %}

{% block section %}
    <section id="forgotPass">
    <h1>Account recovery</h1>
    <form>
        <label>
          Please enter your email linked to your account :
          <input type="email" name="email" placeholder="johnsmith@company.com" required />
        </label>
      </div>
      <div>
        <p>An one time password(otp) and a reset password link will be sent your linked email.</p>
    </div>
      <div>
        <input type="submit" value="SEND OTP" />
        <a href="{{ url_for('signup') }}">I don't have an account</a>
      </div>
    </form>
  </section>
{% endblock %}
