
{% extends "layout.html" %}

{% block title %}
  The Quest | Login
{% endblock %}

{% block extCSS %}
    <link rel="stylesheet" href="../static/css/login.css" />
{% endblock %}
    
{% block section %}
    <section id="login">
    <h1>Login</h1>
    <form>
        <label>
          Email :
          <input type="email" name="email" placeholder="johnsmith@company.com" required />
        </label>
        <label>
          Password :
          <input
            type="password"
            name="password"
            required
          />
        </label>
      </div>
      <div>
        <input type="submit" value="LOGIN"  />
        <a href="{{ url_for('forgotPass') }}">Forgot password?</a>
        <a href="{{ url_for('signup') }}">I don't have an account</a>
      </div>
    </form>
  </section>
{% endblock %}
